/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fae714;
}

.blog-header {
    line-height: 1;
    border-bottom: 3px solid #e5e5e5;
}

#header-logo {
    margin-left:2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman";
    align-content: center;
}

html,
body {
    width: 100%;
    height: 100%;
    background-size: cover;
}

body {
    display: -ms-flexbox;
    display: flex;
    background-color: lightsalmon;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 20px;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: black;
    background-color: transparent;
    border-bottom: .2rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(0, 0, 0, .5);
    }

#book {
    border-bottom-color: #ADFF2F;
    text-shadow: white 0 0 10px;
}

#review {
    border-bottom-color: #FA8072;
    text-shadow: white 0 0 10px;
}

#quote {
    border-bottom-color: #7FFFD4;
    text-shadow: white 0 0 10px;
}

#author {
    border-bottom-color: #FFFF00;
    text-shadow: white 0 0 10px;
}

#news {
    border-bottom-color: blueviolet;
    text-shadow: white 0 0 10px;
}

    .nav-masthead .nav-link + .nav-link {
        font-style: normal;
        font-weight: 100;
        font-size: 17px;
        line-height: 20px;
    }

.nav-masthead .active {
    color: black;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    border-bottom-color: #fae714;
}


