/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #F2C94C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman";
    align-content: center;
}

html,
body {
    background-image: url('../images/fon1.png');
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #F2C94C;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 20px;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
        font-style: normal;
        font-weight: 100;
        font-size: 17px;
        line-height: 20px;
    }

.nav-masthead .active {
    color: white;
    margin-left: 1rem;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    border-bottom-color: #F2C94C;
}


@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}
